/* prueba compilacion */
header {
  align-items: center;
  margin-top: -140px;
}
header .header-left {
  margin-top: 100px;
}
header .header-rigth {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -100px;
  margin-bottom: 100px;
}
header .header-rigth .menu li {
  list-style-type: none;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
header .header-rigth .menu li a {
  color: #000;
  text-decoration: none;
}
header .header-rigth img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}

footer {
  width: 400px;
  margin-left: 50px;
  padding-left: 50px;
}

body {
  background: linear-gradient(45deg, red, blue, green, black);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
  color: #fff;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  font-size: 40px;
  text-align: center;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
body .iconos-media .audiovisual {
  width: 50px;
}
body .iconos-media li {
  display: inline-block;
}
body .iconos-media img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}

@media (max-width: 700px) {
  body {
    width: 600px;
  }
  /*  TIENDA MEDIA QUARIES */
  .tienda {
    width: 600px;
  }
  .tienda img {
    width: 500px;
    margin-left: 25px;
  }
  .metodos-de-pago img {
    width: 300px;
    margin-left: 25px;
  }
  .formulario input {
    width: 300px;
    margin-left: 25px;
  }
  header {
    margin-left: -50px;
    margin-top: 50px;
  }
  footer {
    width: 400px;
    margin-left: 50px;
    padding-left: 50px;
  }
  /* SOBRE NOSOTROS MEDIA QUARIES*/
  .carta-fotos {
    width: 100%;
  }
  section {
    width: 500px;
  }
  /*INICIO MEDIA QUARIES*/
  main {
    width: 500px;
  }
  .header-left {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  main img {
    width: 500px;
    margin-left: 25px;
  }
  main video {
    width: 500px;
  }
  .iconos-media img {
    width: 100px;
  }
  section img {
    width: 500px;
  }
  footer {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 1000px) {
  body {
    width: 1000px;
  }
  /*  TIENDA MEDIA QUARIES */
  .tienda {
    width: 1000px;
  }
  .tienda img {
    width: 900px;
    margin-left: 25px;
  }
  .metodos-de-pago img {
    width: 300px;
    margin-left: 25px;
  }
  .formulario input {
    width: 300px;
    margin-left: 25px;
  }
  header {
    margin-left: -50px;
    margin-top: 50px;
  }
  footer {
    margin-left: 10%;
    margin-right: 10%;
  }
  /* SOBRE NOSOTROS MEDIA QUARIES*/
  .carta-fotos {
    width: 100%;
  }
  section {
    width: 900px;
  }
  /*INICIO MEDIA QUARIES*/
  main {
    width: 900px;
  }
  .header-left {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  main img {
    width: 900px;
    margin-left: 25px;
  }
  main video {
    width: 900px;
  }
  .iconos-media img {
    width: 100px;
  }
  section img {
    width: 900px;
  }
}
@media (max-width: 900px) {
  body {
    width: 900px;
  }
  /*  TIENDA MEDIA QUARIES */
  .tienda {
    width: 800px;
  }
  .tienda img {
    width: 800px;
    margin-left: 25px;
  }
  .metodos-de-pago img {
    width: 300px;
    margin-left: 25px;
  }
  .formulario input {
    width: 300px;
    margin-left: 25px;
  }
  header {
    margin-left: -50px;
    margin-top: 50px;
  }
  footer {
    margin-left: 10%;
    margin-right: 10%;
  }
  /* SOBRE NOSOTROS MEDIA QUARIES*/
  .carta-fotos {
    width: 100%;
  }
  section {
    width: 800px;
  }
  /*INICIO MEDIA QUARIES*/
  main {
    width: 800px;
  }
  .header-left {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  main img {
    width: 800px;
    margin-left: 25px;
  }
  main video {
    width: 800px;
  }
  .iconos-media img {
    width: 100px;
  }
  section img {
    width: 800px;
  }
}
@media (max-width: 1200px) {
  body {
    width: 1200px;
  }
  /*  TIENDA MEDIA QUARIES */
  .tienda {
    width: 1000px;
  }
  .tienda img {
    width: 1000px;
    margin-left: 25px;
  }
  .metodos-de-pago img {
    width: 300px;
    margin-left: 25px;
  }
  .formulario input {
    width: 300px;
    margin-left: 25px;
  }
  header {
    margin-left: -50px;
    margin-top: 50px;
  }
  footer {
    margin-left: 10%;
    margin-right: 10%;
  }
  /* SOBRE NOSOTROS MEDIA QUARIES*/
  .carta-fotos {
    width: 100%;
  }
  section {
    width: 1000px;
  }
  /*INICIO MEDIA QUARIES*/
  main {
    width: 1000px;
  }
  .header-left {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  main img {
    width: 1000px;
    margin-left: 25px;
  }
  main video {
    width: 1000px;
  }
  .iconos-media img {
    width: 100px;
  }
  section img {
    width: 1000px;
  }
}
main {
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
}
main .higher-power-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
@keyframes higher-power-img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}
main #textoPrincipal {
  margin-bottom: 50px;
}
main .novedades {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container h2 {
  margin-bottom: 100px;
}
.container .albumes :hover {
  transform: scale(1.1);
  transition: 0.5s;
}
@keyframes albumes {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.container .albumes img {
  margin-bottom: 50px;
}

main .portadas-videos h1 {
  margin-bottom: 50px;
}
main .portadas-videos img {
  width: 700px;
  margin-bottom: 50px;
}
main .portadas-videos img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
@keyframes portadas-videos {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

main .tienda-productos img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
@keyframes tienda-productos {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}
main .tienda-productos img {
  margin-bottom: 50px;
}
main .tienda-productos p {
  margin-bottom: 50px;
}
main .tienda-productos .titulo {
  margin-bottom: 50px;
}
main .metodos-de-pago img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
main img {
  margin-bottom: 50px;
}
@keyframes metodos-de-pago {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

main .sobre-nosotros-container p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 50px;
}
main .carta-fotos img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
@keyframes carta-fotos {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}
main .carta-fotos img {
  width: 50%;
  height: 50%;
  margin-bottom: 50px;
}
main .contacto--container img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
@keyframes contacto--container {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}
main .contacto--container .icono-instagram {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
main .contacto--container .icono-twitter {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
main .contacto--container .linkedin-icono {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
main .contacto--container img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  object-fit: cover;
}
@keyframes contacto--container {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

/*# sourceMappingURL=style.css.map */
