
header{
    align-items: center;
    margin-top: -140px;
    .header-left{
        margin-top: $espacio-margen-bottom-header;
    }
    
    .header-rigth{
        margin-left: $espacio-margen-left;
        margin-right: $espacio-margen-right;
        margin-top: -100px;
        margin-bottom: $espacio-margen-bottom-header;

        .menu li{
            list-style-type: none;
            display: inline-block;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            transition: 0.3s;
            a{
                color: #000;
                text-decoration: none;
            }
        }

        img:hover{
            transform: scale(1.1);
            transition: 0.5s;
            object-fit: cover;
            
        }
    }
}

