.carta-fotos {

    img:hover {
        transform: scale(1.1);
        transition: 0.5s;
        object-fit: cover;
    }

    @keyframes carta-fotos {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(2);
        }
    }

         img {
        width: 50%;
        height: 50%;
        margin-bottom: 5%;
    }

}

.contacto--container {
    img:hover {
        transform: scale(1.1);
        transition: 0.5s;
        object-fit: cover;
    }

    @keyframes contacto--container {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(2);
        }
    }

    .icono-instagram {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icono-twitter {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .linkedin-icono {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    img:hover {
        transform: scale(1.1);
        transition: 0.5s;
        object-fit: cover;
    }

    @keyframes contacto--container {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(2);
        }
    }
}