main {
    .tienda-productos {
        img:hover {
            transform: scale(1.1);
            transition: 0.5s;
            object-fit: cover;
        }

        @keyframes tienda-productos {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.5);
            }

            100% {
                transform: scale(2);
            }
        }
        img{
            margin-bottom: 50px;
        }
        p{
            margin-bottom: 50px;
        }
        .titulo{
            margin-bottom: 50px;
        }
    }

    .metodos-de-pago img:hover {
        transform: scale(1.1);
        transition: 0.5s;
        object-fit: cover;
    }
    img{
        margin-bottom: 50px;
    }

    @keyframes metodos-de-pago {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(2);
        }
    }
}
