$font-size-base: 40px;
$espacio-margen:50px;
$espacio-margen-top:50px;
$espacio-margen-bottom-header:100px;
$espacio-margen-bottom-header:100px;
$espacio-margen-left:10px;
$espacio-margen-right:10px;


